.card-text {
    margin-top: 12px;
    margin-bottom: 0;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 38px;
  }
  .form-group {
    margin-top: 43px;
    margin-bottom: 0;
    height: 80px;
  }
  input {
    height: 80px;
  }
  
  .footer {
    display: flex;
    justify-content: end;
  }
  
  button {
    margin-top: 43px;
    height: 58px;
    width: 200px;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: white;
    background-color: #de7be0;
  }
  .input-group {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  .input-group-prepend {
    display: flex;
    justify-content: center;
    width: 100px;
    border: none;
    background-color: #f8f8f8;
  }
  
  .input-group-prepend img {
    width: 45px;
  }
  
  .input-group input {
    background-color: #f8f8f8;
    border: none;
  }
  
  @media (max-width: 576px) {
    button {
      width: 100%;
    }
    .card-text {
      font-size: 22px;
    }
    .input-group-prepend {
      display: flex;
      justify-content: center;
      width: 60px;
      border: none;
      background-color: #f8f8f8;
    }
    .input-group-prepend img {
      width: 30px;
    }
  }